body * {
  font-family: 'Montserrat', sans-serif;
}

p, a, div {
  font-size: 100%;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

main {
  max-width: 960px;
}

.blog-post {
  border-bottom: thin solid #efefef;
}

.body__home .card {
  border-width: 0 0 thin 0;
  border-radius: 0;
}

.body__posts-show .card {
  border: none;
}

.body__posts-show h4 {
  font-size: 2em;
}